Hi <%= firstName %> <%= lastName %>,
Please click <a href="<%= resetPasswordLink %>">here</a> to set a new password.
You can log in to the <a href="<%= loginLink %>">Society</a> once you set your password.
Fountlab Team