Hi <%= firstName %> <%= lastName %>,
You have been added as Admin in Fountlab.
Please click <a href="<%= resetPasswordLink %>">here</a> to set your password.
You can log in to the <a href="<%= loginLink %>">Dashboard</a> once you set your password.
Fountlab Team