/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.fileInputContainer {
    display: flex;
    align-items: center; /* Adjust as needed */
  }
  
  .fileInput {
    display: none;
  }
  
  .fileInputLabel {
    cursor: pointer;
    color: black;
  }