/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
// .card-typo{
//     font-size:20px;
//     font-family: Poppins !important;
//     font-size: 20px !important;
//     font-style: normal;
//     letter-spacing: 0.2px !important;
//     line-height: 100% !important;
// }

// .vehicle-grid{
//     -webkit-justify-content:normal; 
//     margin: -22px !important;
//     margin-top: -21px !important;
// }
.add_btn{
    border-radius: 50px !important;
    border: 1px solid #FFAED9 !important;
    background: #FFE0F0 !important;
    width: 127px;
    height: 44px;
    flex-shrink: 0;
    float: right;
    margin:10px !important;
}