<xng-breadcrumb [separator]="iconTemplate"></xng-breadcrumb>
<ng-template #iconTemplate>
  <mat-icon>chevron_right</mat-icon>
</ng-template>

<h2>Add Organization</h2>

<div class="Add-Organization">
  <form [formGroup]="registrationForm" (ngSubmit)="(submit)">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Name of the Organization</mat-label>
          <input type="text" formControlName="name" matInput placeholder="" />
          <mat-error *ngIf="registrationForm.get('name')?.errors?.['required']">
            This field is required.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Type of Organization</mat-label>
          <mat-select formControlName="type">
            <mat-option
              *ngFor="let organizationType of types"
              [value]="organizationType"
            >
              {{ organizationType }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="registrationForm.get('type')?.errors?.['required']">
            This field is required.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput placeholder="email" />
          <mat-error *ngIf="registrationForm.get('type')?.errors?.['required']">
            This field is required.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Phone Number</mat-label>
          <input
            type="text"
            formControlName="phoneNumber"
            matInput
            placeholder="phoneNumber"
          />
          <mat-error *ngIf="registrationForm.get('type')?.errors?.['required']">
            This field is required.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Address Line 1</mat-label>
          <input formControlName="addressLine1" matInput placeholder="" />
          <mat-error *ngIf="registrationForm.get('type')?.errors?.['required']">
            This field is required.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Address Line 2</mat-label>
          <input formControlName="addressLine2" matInput placeholder="" />
          <mat-error *ngIf="registrationForm.get('name')?.errors?.['required']">
            This field is required.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>City</mat-label>
          <input type="text" formControlName="city" matInput placeholder="" />
          <mat-error *ngIf="registrationForm.get('name')?.errors?.['required']">
            This field is required.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Postal Code</mat-label>
          <input
            type="text"
            formControlName="postalCode"
            matInput
            placeholder=""
          />
          <mat-error *ngIf="registrationForm.get('name')?.errors?.['required']">
            This field is required.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Country</mat-label>
          <mat-select
            formControlName="countryCode"
            (selectionChange)="onCountryChange()"
          >
            <mat-option
              *ngFor="let selectedCountry of countriesToSelect"
              [value]="selectedCountry.code"
            >
              {{ selectedCountry.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="registrationForm.get('name')?.errors?.['required']">
            This field is required.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>State</mat-label>
          <mat-select formControlName="stateCode">
            <mat-option
              *ngFor="let state of statesToSelect"
              [value]="state.code"
              >{{ state.name }}</mat-option
            >
          </mat-select>
          <mat-error
            *ngIf="registrationForm.get('countryCode')?.errors?.['required']"
          >
            This field is required.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <button (click)="submit()" class="mt-4" mat-raised-button color="primary">
      Add
    </button>
  </form>
</div>
