/*
 * Replace this with your own classes
 */

 .container {
    display:flex;
    flex-direction:column;
    margin-left: 200px;
 }


 .nav-container{
    display:flex;
    flex-direction:row;
 }


 .welcome{
   margin-top: 65px;
 }
