.container {
  overflow-y: auto;
}


.building_container {
  padding: 20px;
  padding-bottom: 179px;
  // padding-left: 150px;
  // padding-right: 450px;

}

// .h1_tag{
//   // color:#1e40af;
//   font-family: Arial, Helvetica, sans-serif;
// }

.search-container{
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
}
.search-row{
 background-color: white !important;
}



table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

table th, table td {
  padding: 8px;
  
}

table th {
  background-color: #f2f2f2;
}


.table_row:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
/* AddBuildingForm Styles */
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  // padding: 20px;
  padding-bottom: 25px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  border-radius: 8px;

  .h2_tag {
    // margin-bottom: 20px;
    border-top-right-radius: 8px;  
    border-top-left-radius: 8px;  
    margin-top: auto;
    padding: 15px;
    background-color: black;
    color: white;
  }

  p {
    margin-bottom: 30px;
  }

  .modal-buttons {
    display: flex;
    justify-content: center;

    button {
      margin: 0 10px;
    }
  }
}

.update_modal-buttons{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.update_modal-buttons {
  display: flex;
  justify-content: center;

  button {
    margin: 0 10px;
  }
}

.MuiTablePagination-root {
  flex-shrink: 0;
}



.MuiInputBase-input {
  padding: 10px;
}


.btn_container{
  display: flex;
  justify-content:space-between;
  margin-bottom: 20px;

}

.table-container {
    // box-shadow: 0 6px 10px rgba(235, 3, 3, 0.2); 
}

.row-action-button:hover{
  // background-color: #FFE0F0;
  cursor:pointer;
  background-color: #cacaca;
  border-radius: 20px;
}

@media only screen and (max-width: 420px) {
  .h1_tag {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}